.titre {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 50px;
    display: flex;
    justify-content: center;

}


.films,
.albums {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 50px;
}