.bloc {
    display: table-cell;
    vertical-align: middle;
}

.card {

    width: auto;
    background-color: darkgrey;

}

img {
    max-width: 100%;
    height: auto;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 550px;


}