.navbar {
    background-color: dimgrey;
    width: 100vw;
    max-height: 10vh;
    padding-left: 20px;
    display: flex;
    padding-left: 50px;
 
 
  }

  .titre {
    font-weight: bold;
    padding-right: 50px;

  }

  .produits{
    color: aliceblue;
    text-decoration: underline overline white;
    
  }